.screen{
  min-height: 100vh;
  padding: 160px 0;
  box-sizing: border-box;

  background: transparent;
  position: relative;
}

/* 中央寄せが必要な画面だけ */
.screen.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.screen.show{
  opacity: 1;
  transform: translateY(0);
}

.screen h2{
  font-family: Allura, cursive;
  font-size: 42px;
  letter-spacing: 6px;
}

.screen p{
  max-width: 680px;
  line-height: 1.8;
  opacity: .85;
}
