/* ===============================
   CONNECT
=============================== */

.connect-links{
  display: flex;
  justify-content: center;
  gap: 40px;
}

/* SNSボタン */
.connect-links a{
  border: 1px solid rgba(0,0,0,0.2);
  padding: 16px 40px;
  font-size: 14px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #111;
  transition: all .3s ease;
}

.connect-links a:hover{
  background: #111;
  color: #fff;
}
