/* ===============================
   MENU BUTTON
=============================== */

.menu-btn{
  position: fixed;
  top: 24px;
  left: 24px;

  display: flex;
  align-items: center;
  gap: 10px;

  z-index: 1300;
}

.menu-icon{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menu-icon span{
  width: 22px;
  height: 2px;
  background: #fff;
  display: block;
}

.menu-icon .short{
  width: 14px;
}

.menu-text{
  font-size: 12px;
  letter-spacing: 2px;
  color: #fff;
}
