/* セクション下端をぼかす */
.screen::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 120px;

  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0),
    rgba(0,0,0,0.8)
  );

  pointer-events: none;
}
