/*text*/
.logo-copy{
  position: absolute;
  left: 6vw;
  top: 50%;
  transform: translateY(-50%);

  z-index: 6;

  display: flex;
  gap: 14px;
}

/*画像みぎ*/
.miraba-logo{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  width: 66vw;     /* ← 画面の2/3 */
  max-width: 1400px;
  height: auto;

  z-index: 2;
}
