/* ===== TOP HERO ===== */

.top-hero{
  padding-top: 220px;
}

.top-hero .miraba-art{
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  letter-spacing: 8px;

  color: #f5f3ef;
  text-shadow:
    0 0 12px rgba(255,255,255,0.18),
    0 0 36px rgba(255,255,255,0.06);
}
